<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Telegram</title>
<link rel="stylesheet" href="static/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <div class="telegram">
<p>
    Stock alerts are provided on Telegram. <br>
    You can download Telegram <a href="https://telegram.org/">here</a><br>
    Click <a href="http://t.me/ASXStockAlert_bot">here</a> to allow the alerts to be sent, and enter the /ident command.<br>
    Your verification key is {{key}}.<br>

</p>
Then click <a href="main">here</a> to start.
</div>
</body>
</html>